.navigation {
    margin-top: 29px;

    a {

        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #C4C4C4;
    }

    a.active {
        color: #6B7073;
    }
}