.footer {
    height: 257px;
    box-shadow: 0px -4px 26px rgba(0, 0, 0, 0.12);
    padding: 40px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 170px;
        height: auto;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        width: 888px;

        &-link {
            margin-bottom: 32px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #151516;

        }
    }

    &__search {
        position: relative;
        margin-bottom: 54px;
    }

    &__social {
        margin-right: 21px;
    }

    &__contacts {
        margin-bottom: 21px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #151516;
    }
}